html{
    font-size: 10px;
}

body{
    font-size: 1.6rem;
}

html,
body,
.page-wrapper
{
  height: 100%;
}

input,
button,
a{
  font-family: inherit;
  outline: 0;
}

[class^="container"]{
  --bs-gutter-x: 3rem;
}